<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <header id="top" style="box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1); border: 1px solid #d6d6d6; background-color: #FFF; z-index: 100; height: 75px;">
            <!-- header -->
            <nav style="padding-top: 15px; padding-left: 10px;">
                <a class="nav3 lien3" id="toggle" href="index.html">Enquête Satisfaction</a>
                <a class="nav3" href="#">Page 2</a>
                <a class="nav3" href="#">Page 3</a>
                <a class="nav3" href="#">Page 4</a>
                <a class="nav3" href="#">Page 5</a>
            </nav>
            <!-- logo -->
            <a href="index.html"><center><img style="position: absolute; top: 10px; left:850px;" src="img/zeus_header.png" height="60px"></a></center>
            <!-- connexion -->
            <div class="menu-depliant">
                <div class="icone"></div>
                <p class="titre-formulaire-connexion"> Connexion </p>
                <form method="post" action="index.php">
                    <input type="text" placeholder="Nom" name="nomCli" style="margin-top: 53px;" class="connexion">
                    <hr/>
                    <input type="text" placeholder="Prenom" name="prenomCli">
                    <hr/>
                    <input type="text" placeholder="E-mail" name="emailCli">
                    <hr/>
                    <input type="password" placeholder="Mot de passe" name="mdpCli">
                    <button class="bouton-anim" type="submit" name="Valider">Se connecter</button>
                </form>
                <center><a class="lien-formulaire-inscription" href="formulaire-inscription.php">Pas encore inscrit ?</a></center>
            </div>

        </header>
        
        {% block body %}{% endblock %}
        <script type="text/javascript">
                $(document).ready(function(){
                    $('.icone').click(function(){
                        $('.menu-depliant').toggleClass('active')
                    })
                })
            </script>
            </br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
        {% block javascripts %}{% endblock %}
        <section class="footer">
            <br/><br/>
            <div style="background: linear-gradient(to bottom right, #333, #222); box-shadow: inset 0px 0px 25px 5px rgba(0, 0, 0, 0.3);">
                <center><img src="img/zeus.png" height="100" style="margin-top: 20px; margin-bottom: 30px;"></center>
                <div style="position: relative;">
                    <center>
                        <img src="img/barre.png" style="margin-bottom: 10px;">
                        <nav style="z-index: 100; padding-bottom: 25px;">							
                            <a class="nav2" href="#">Page 1</a>
                            <a class="nav2" href="#">Page 2</a>
                            <a class="nav2" href="#">Page 3</a>
                            <a class="nav2" href="#">Page 4</a>
                            <a class="nav2" href="#">Page 5</a>
                        </nav>
                    </center>
                    <div id="haut">
                        <a href="#top" title="Haut de page" class="haut" style="transform: rotate(-90deg); font-size: 25px; color: #454d5d">&#10132;</a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>
